.forum-archive, .forum{
	.entry-header{
		h1{
			font-size: 2rem;
		}
	}
	.bbp-breadcrumb{
		a, span{
			font-size: 14px;
		}
	}
}
.bbp-search-form{
	input[type="text"]{
	    width: 100%;
	    padding: 5px 10px;
	    border: 1px solid #e4e1d8;
	    border-radius: 3px;
	    background: white;
	    color: #3f444c;
	    font-size: 1rem;
	    line-height: 24px;
	    -webkit-transition: 0.15s ease-in-out opacity;
	    transition: 0.15s ease-in-out opacity;
	    -webkit-font-smoothing: antialiased;
	        top: 4px;
    position: relative;
	}
}
ul.bbp-forums{
	margin-top: 20px;
	ul.forum-titles{
		li{
			font-size: 14px;
		}
	}
	.bbp-body{
		li{
			font-size: 14px;
		}
	}
}
.bbp-topic-form{
	.bbp-form{ 
		font-size: 14px;
	}
	label{
		font-size: 14px;
	}
	input[type="text"]{
		height: 35px;
		padding-left: 15px;
	}

}
#bbpress-forums fieldset.bbp-form label{
	margin-bottom: 10px;
}
#bbpress-forums fieldset.bbp-form select{
	height: 35px;
}
#subscription-toggle{
	float: right;
	font-size: 15px;
}
.notifications, .activity {
	.entry-header{
		h1{
			font-size: 36px;
			padding-bottom: 20px;
		}
	}
	#buddypress #item-header-cover-image #item-header-avatar{
		margin-top: 0;
	}
	#buddypress div#item-header #item-header-cover-image #item-header-content{
		    margin-left: 50px;
    		margin-top: -60px;
	}
	#buddypress #header-cover-image{
		background: transparent;
	}
	#buddypress div#item-header-cover-image .user-nicename{
		margin-bottom: 5px;
	}
	#item-body{
		    padding: 20px 20px 40px 20px;
    margin-bottom: 20px;
    background:#fff;
	}
	table.notifications{

		tr{
			th.title{
				background-position: left center;
			}
			td.notification-actions{
				text-align: center;
			}
			td.bulk-select-check{
				text-align: center;
			}
		}
	}
	.notifications-options-nav{
		select{
		height: 35px;
		}
		input[type="submit"]{
			    color: #000;
		    line-height: 27px;
		    height: 36px;
		}
	}
	.activity-meta{
		a{
			    line-height: 25px;
		}
	}
}