.forum-archive, .forum{
	.entry-header{
		h1{
			font-size: 2rem;
		}
	}
	.bbp-breadcrumb{
		a, span{
			font-size: 14px;
		}
	}
}
.bbp-search-form{
	input[type="text"]{
	    width: 100%;
	    padding: 5px 10px;
	    border: 1px solid #e4e1d8;
	    border-radius: 3px;
	    background: white;
	    color: #3f444c;
	    font-size: 1rem;
	    line-height: 24px;
	    -webkit-transition: 0.15s ease-in-out opacity;
	    transition: 0.15s ease-in-out opacity;
	    -webkit-font-smoothing: antialiased;
	        top: 4px;
    position: relative;
	}
}
ul.bbp-forums{
	margin-top: 20px;
	ul.forum-titles{
		li{
			font-size: 14px;
		}
	}
	.bbp-body{
		li{
			font-size: 14px;
		}
	}
}
.bbp-topic-form{
	.bbp-form{ 
		font-size: 14px;
	}
	label{
		font-size: 14px;
	}
	input[type="text"]{
		height: 35px;
		padding-left: 15px;
	}

}
#bbpress-forums fieldset.bbp-form label{
	margin-bottom: 10px;
}
#bbpress-forums fieldset.bbp-form select{
	height: 35px;
}
#subscription-toggle{
	float: right;
	font-size: 15px;
}
.bbpress  {
	#buddypress .standard-form div.submit{
		input[type="submit"]{
			background: #67c4b0;
		    display: inline-block;
		    height: 33px;
		    padding: 0 10px;
		    border: 0;
		    border-radius: 5px;
		    color: white;
		    font-size: 1rem;
		    line-height: 33px;
		    text-decoration: none;
		    text-align: center;
		    -webkit-transition: 0.15s ease-in-out background;
		    transition: 0.15s ease-in-out background;
		    cursor: pointer;
		    vertical-align: middle;
		    -webkit-font-smoothing: antialiased;
		}
	}
	
	.main{
		background: url(../images/polygon_bg.jpg) no-repeat top center;
		background-size: cover;
	}
	#buddypress div#item-header ul.social-networks{
	margin-top: 30px;
		li{
		padding: 4px;
		    float: left;
		}
	}
	#buddypress div#item-header ul.social-networks span{
		display: block;
		font-size: 1.5rem;
		.fa{
			top: 5px;
		}
	}
	#item-body, #item-nav{
		width: 70.66356%;
    float: right;
    margin-right: 0;
	}
	#buddypress #item-header-cover-image #item-header-avatar{
		display: table;
	    margin: 0 auto;
	        float: none;
	}
	#item-header{
		width: 28.75437%;
	    float: left;
	    margin-right: 0.58207%;
	    #item-header-cover-image{
	    	    display: block;
		    width: 100%;
		    min-height: 280px;
		    padding: 30px 0;
		    background: #f5f4f0;
		    text-align: center;
	    }
	    #item-header-avatar{
	    
	    }
	    .avatar {
    		width: 100px;
		    height: 100px;
		}
	}
	.entry-header{
		h1{
			font-size: 36px;
			padding-bottom: 20px;
		}
	}
	#buddypress #item-header-cover-image #item-header-avatar{
		margin-top: 0;
	}
	#buddypress div#item-header #item-header-cover-image #item-header-content{
		    margin-left: 0;
    margin-top: 0;
    width: 100%;
	}
	#buddypress #header-cover-image{
		background: transparent;
		display: none;
	}
	#buddypress div#item-header-cover-image .user-nicename{
		margin-bottom: 5px;
		text-shadow: none;
		color: #000;
	}
	#item-body{
		    padding: 20px 20px 40px 20px;
    margin-bottom: 20px;
    background:#fff;
	}
	table.notifications{

		tr{
			th.title{
				background-position: left center;
			}
			td.notification-actions{
				text-align: center;
			}
			td.bulk-select-check{
				text-align: center;
			}
		}
	}
	.notifications-options-nav{
		select{
		height: 35px;
		}
		input[type="submit"]{
			    color: #000;
		    line-height: 27px;
		    height: 36px;
		}
	}
	.activity-meta{
		a{
			    line-height: 25px;
		}
	}
}
#header-cover-image{
	
}
#item-nav{
	ul{
		li{
			font-size: 0.875rem;
		    display: block;
		    float: left;
		    line-height: 20px;
		    text-transform: uppercase;
		    color: #ce3c5c;
		    position: relative;
		    &.current{
		    	background: #f5f4f0;
			    color: black;
			    font-weight: normal;
			    
		    }
			a{
				color: #ce3c5c;
    			display: block;
			    padding: 10px 7px;
			    border: 1px solid transparent;
			    border-bottom: 0;
			    text-decoration: none;
			}
		}
	}

}
.bp_members {
	.entry-header{
		display: none;
	}
}
#buddypress{
	margin-top: 25px;
}
#buddypress .dir-search input[type=search], #buddypress .dir-search input[type=text], #buddypress .groups-members-search input[type=search], #buddypress .groups-members-search input[type=text], #buddypress .standard-form input[type=color], #buddypress .standard-form input[type=date], #buddypress .standard-form input[type=datetime-local], #buddypress .standard-form input[type=datetime], #buddypress .standard-form input[type=email], #buddypress .standard-form input[type=month], #buddypress .standard-form input[type=number], #buddypress .standard-form input[type=password], #buddypress .standard-form input[type=range], #buddypress .standard-form input[type=search], #buddypress .standard-form input[type=tel], #buddypress .standard-form input[type=text], #buddypress .standard-form input[type=time], #buddypress .standard-form input[type=url], #buddypress .standard-form input[type=week], #buddypress .standard-form select, #buddypress .standard-form textarea{
	background: #fff;
}