.wrapper{
	max-width: inherit;
}
.main-nav{
	padding-top: 25px;
}
.logo{
	margin-top: -22px;
    font-size: 22px;
}
.notification-nav{
	    display: inline-block;
    height: 55px;
    vertical-align: top;
    float: right;
	.sign-box{
		li{
			float: left; 
		}
	}	
	.notification-item{
		position: relative;
	}
}
.user-menu .heading{
	color: #b3b3b3;
	    margin-bottom: 5px;
}
.header-search{
	height: 300px;
	background: url(../images/header_bg.jpg) no-repeat top center;
    background-size: cover;
    &.header-login{
    	height: 100px; 
    	.header-content {
    		padding-top: 30px;
    	}
    }
	.header-content{
		width: 60%;
    	margin: 0 auto 0;
    	padding-top: 100px;
    	.header__title{
    		margin-bottom: 25px;
		    font-size: 1.9125rem;
		    line-height: 31px;
		    color: #fff;
		    text-align: center;
		    font-weight: normal;
    	}
	}
}


.register-popup{
	
}