.home-page{

	.section{
		padding: 20px 0;
	    background: #f7f7f7;
	    text-align: center;
	}
	.section__title {
	    margin-bottom: 40px;
	    font-size: 2.1875rem;
	    line-height: 40px;
	    padding-top: 40px;
	}
	.section__content{
		    width: 85%;
	    margin: 0 auto;
	    min-height: 260px;
	    &:after{
	    	content:"";
	    	    display: table;
	    	clear: both;
	    }
	}
	.section--low-poly {
		.section__content{
			    background: url(../images/home_section_low_poly.png) no-repeat center left;
		}
		
	}
	.section__text{
			width: 24%;
    		float: right;
		    margin-top: 65px;
			text-align: left;
		}
	.section--alt {
	    background: #EEE;
	}
	.section--cg-models {
		.section__text {
	    	float: left;
		}
		
		.section__content{
			background: url(../images/home_section_models.png) no-repeat center right;
		}
	}
	.section--jobs{
		.section__title{
			color: #fff;
		}
		.section__content{
			    width: 70%;
    		margin: 40px auto 40px;
		}
		.jobs-content__find{
			    width: 49.56217%;
		    float: left;
		    margin-right: 0.87566%;
		    padding: 240px 60px 0 80px;
		    background: url(../images/home_jobs_01.png) no-repeat top center;
		    position: relative;
		    &:after {
		    	display: block;
			    width: 34px;
			    height: 34px;
			    background: url(../images/home_jobs_spin.png) no-repeat;
			    position: absolute;
			    top: 35%;
			    right: -20px;
			    content: " ";
		    }
		}

		.jobs-content__hire{
			    width: 49.56217%;
		    float: right;
		    margin-right: 0;
		    padding: 240px 60px 0 75px;
		    background: url(../images/home_jobs_02.png) no-repeat top center;
		}
		h3{
			color: #fff;
		}
	}
	.section--community{
		.section__content{
			width: 100%;
    margin-bottom: 40px;
		}
		.community-content__col{
			width: 24.34326%;
		    float: left;
		    margin-right: 0.87566%;
		    padding: 160px 40px 0 40px;
		    text-align: center;
		    &.community-content__col--{
		    	&designers{
		    		background: url(../images/home_community_01.png) no-repeat top center;	
		    	}
		    	&challenges{
		    		background: url(../images/home_community_02.png) no-repeat top center;
		    	}
		    	&galleries{
		    		background: url(../images/home_community_03.png) no-repeat top center;	
		    	}
		    	&forum{
		    		background: url(../images/home_community_04.png) no-repeat top center;
			    	&:last-child{
			    		float: right;
			    		margin-right: 0;
			    	}
		    	}
		    	
		    }
		}
		.community-content__title{
			font-size: 1.5625rem;
    font-weight: normal;
        margin: 20px 0;
		}
	}
}
.title {
    margin: 0 0 10px 0;
    background: url(../images/hexagon_tiny_darker.png) no-repeat 0 4px;
    font-size: 0.9375rem;
    line-height: 22px;
    text-indent: 20px;
    font-weight: normal;
    text-align: left;
}
.button--big {
    height: 50px;
    padding: 0 15px;
    font-size: 1rem;
    line-height: 48px;
}

.tooltip_templates{
	    position: absolute;
    top: 0;
    left: 0;	

}
.tooltipster-content{
	ul{
	height: auto;
    width: 300px;
	}	
}
.user-header__status{
	font-size: 13px;
}
#buddypress{
	.user-header__actions{
	padding-bottom: 20px;
		.button{
			color: #fff;
			height: auto;
    		line-height: 1.5;
    		    border-radius: 20px;
		}
	}	
	.js-contact{ 
		margin-left: 20px!important;
	}
	.has-question{
		float: left;
		margin-top: 14px;
	}
	#item-header{
		.card{
			.card__content.stat_content{
				.list{
					li{
						float: none;
						display: block;
						b{
							color: #ce3c5c;
						    font-weight: normal;
						    position: absolute;
						    top: 8px;
						    right: 0;
						}
					}
				}
			}
		}
	}
	
}
.button--tiny-pill.button--alt {
    background: none;
    color: #67c4b0;
    border: 2px solid #67c4b0;
}
.bp_members .user-content {
    width: 70.66356%;
    float: left;
    margin-right: 0.58207%;
    float: right;
    margin-right: 0;
    .grid{
    	width: 100%;
    	    margin-left: -3px;
    }
    .content-box-wrapper .product-grid-item .content-box .content-box-content figure.content-box-image img{
    	    max-height: 125px;
    }
    .tab-content {
    	display: none;
    	&.is-active{
    		display: block;
    	}
    }
    .showcase-items{
    	width: 100%;
    	.showcase-item {
		    box-sizing: border-box;
		    width: 33.33%;
		    float: left;
		    padding-left: 0.59524%;
		    padding-right: 0.59524%;
		    .showcase-item-content {
			    border-radius: 3px;
			    overflow: hidden;
			    position: relative;
			    .showcase-item-header {
				    position: absolute;
				    z-index: 1;
				    width: 100%;
				    padding: 0.5em 0;
				    bottom: 0;
				    transform: translateY(100%);
				    transition: all 0.35s ease-in-out;
				    .showcase-item-title {
					    display: block;
					    margin: 0;
					    padding: 0 0.5em 0.5em 0.5em;
					    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					    font-size: 0.875rem;
					    line-height: 20px;
					    text-align: center;
					}
					.showcase-item-info {
					    padding: 0 0.5em;
					    line-height: 40px;
					    .showcase-item-stats {
						    float: left;
						    line-height: 40px;
						}
						.showcase-item-author {
						    float: right;
						    text-align: right;
						    font-size: 0.75rem;
						    overflow: hidden;
						}
					}
				}
				img{
					max-height: 165px;
				}
			}
			&:hover .showcase-item-content .showcase-item-header {
			    transform: translateY(0%);
			}
		}
    }
}
.ui-tooltip.ui-widget-shadow{
	opacity: 1;
}

.gallery-content{
	.showcase-item{
		.showcase-item-image{
			img{
				max-height: 200px;
			}
		}
	}
}
 .showcase-items .showcase-item .showcase-item-content .showcase-item-header{
 	a, .showcase-item-stats{
 	color: #fff;
 	}
 }
 .showcase-items .showcase-item .showcase-item-content .showcase-item-header .showcase-item-author a img{
 	    top: 7px;
    position: relative;
 }