
	.jobs-sidebar__content{
		width: 24.34326%;
	    float: left;
	    margin-right: 0.87566%;
	    background: #f5f5f5;
	    margin-bottom: 25px;
	}
	.section__title {
	    margin-top: 15px;
	    margin-bottom: 15px;
	    margin-left: 20px;
	    font-size: 1.125rem;
	    font-weight: normal;
	}
	.jobs-sidebar__section {
	    background: #ffffff;
	    padding: 20px;
	    border-radius: 3px;
	}
	.jobs-sidebar__section .button {
	    text-align: left;
	    background: white;
	    margin-bottom: 8px;
	    color: #131518;
	    border: 1px solid #efefef;
	}
	.jobs-sidebar__section .button:last-child {
	    margin-bottom: 0;
	}
	.button--full {
	    width: 100%;
	}
	.section__item {
	    margin-bottom: 8px;
	    color: #6d6d6d;
	}
	.checkbox {
		float: left;
	}

	.jobs__content {
	    width: 74.78109%;
	    float: right;
	    margin-right: 0;
	    background: #ffffff;
	    border-radius: 3px;
	    overflow: hidden;
	    padding: 20px;
	    position: relative;
	    margin-bottom: 10px;
	}
	.jobs-item__image {
	    width: 18.03853%;
	    float: left;
	    margin-right: 0.87566%;
	}
	.jobs-item__content {
	    width: 55.8669%;
	    float: left;
	    margin-right: 0.87566%;
	    padding-left: 14px;
	}
	.jobs-item__content .jobs__title {
	    margin-top: 0;
	    font-size: 24px;
	    margin-bottom: 20px;
	}
	.label-list li {
	    display: inline-block;
	    float: left;
	    margin-right: 15px;
	}
	.label--hexagon:before {
	    display: inline-block;
	    margin-right: 10px;
	    width: 11px;
	    height: 12px;
	    background: url(../images/hexagon_tiny.png) no-repeat;
	    position: relative;
	    top: 0;
	    right: 0;
	    content: ' ';
	}
	.tag-list{
		padding-top: 8px;
	}
	.tag-list ul {
	    list-style: none;
	    margin-left: 25px;
	}
	.tag-list:before {
	    display: inline-block;
	    margin-right: -25px;
	    width: 25px;
	    height: 15px;
	    background: url(../images/geometry-icon.png) no-repeat;
	    position: relative;
	    top: 6px;
	    right: 0;
	    content: ' ';
	    vertical-align: top;
	}
	.tag-list ul {
	    display: inline-block;
	    padding: 0;
	    font-size: 0.875rem;
	    line-height: 20px;
	    color: #878787;
	}
	.tag-list ul>li {
	    display: inline-block;
	    margin-right: 5px;
	    list-style: none;
	    position: relative;
	}
	.tag-list ul li {
	    background-color: #3f444c;
	    color: #ffffff;
	    border-radius: 3px;
	    padding-left: 3px;
	    padding-right: 3px;
	}
	.tag-list ul li:first-child {
	    padding-left: 3px;
	}
	.jobs-price__content {
	    width: 24.34326%;
	    float: right;
	    margin-right: 0;
	}
	.jobs__price {
	    margin-top: 0;
	    font-weight: bold;
	    color: #131518;
	    font-size: 24px;
	}
	.jobs-price__content .button {
	    position: absolute;
	    bottom: 23px;
	    right: 20px;
	    padding: 4px 35px;
    height: auto;
	}
	.jobs-header{
		padding-bottom: 20px;
		.jobs-header__title{
			font-size: 36px;
			    margin-bottom: 20px;
		}
	}
	.jobs-header__annotation {
	    line-height: 24px;
	    margin: 0 0 14px 0;
	    font-size: 18px;
	}
	.jobs-header__annotation:before {
	    display: inline-block;
	    margin-right: 10px;
	    width: 11px;
	    height: 12px;
	    background: url(../images/hexagon_tiny.png) no-repeat;
	    position: relative;
	    top: 0;
	    right: 0;
	    content: ' ';
	}
	.jobs-header__content {
	    width: 62.17163%;
	    float: left;
	    margin-right: 0.87566%;
	}

	.jobs-application__content:first-child {
	    margin-top: 40px;
	}
	.jobs-application__content {
	    color: #6d6d6d;
	    background: #ffffff;
	    border-radius: 3px;
	    overflow: hidden;
	    padding: 25px;
	    position: relative;
	    margin-bottom: 10px;
	}
	.jobs-application__content .jobs-item__image {
	    width: 11.7338%;
	    float: left;
	    margin-right: 0.87566%;
	    margin-bottom: 20px;
	}
	.jobs-application__content .jobs-item__image img {
	    border: 1px solid #efefef;
	    width: 145px;
	}
	.jobs-application__content .jobs-item__content {
	    width: 62.17163%;
	    float: left;
	    margin-right: 0.87566%;
	    padding-left: 14px;
	}
	.jobs-item__content .jobs__title {
	    margin-top: 0;
	}
	.jobs-application__content .jobs__title {
	    margin-top: 0;
	    margin-bottom: 10px;
	}
	.jobs-application__content .jobs-item__content ul {
	    margin-top: 20px;
	    list-style: none;
	    padding: 0;
	    margin-bottom: 0;
	    &.label-list{
	    	&:after{
	    		clear: both;
	    		content: "";
	    		display: table;
	    	}
	    }
	}
	.jobs-application__content .jobs-item__content div.tag-list{
		ul{
			margin-top: 0;
		}
	}
	.jobs-application-text{
		clear: both;
		padding-top: 10px;
	}
	.jobs-application__form h3 {
	    margin-top: 0;
	    margin-bottom: 20px;
	        font-size: 24px;
	}
	.label--with-hexagon{
		font-size: 18px;
	}
	.label--with-hexagon:before {
	    display: inline-block;
	    margin-right: 10px;
	    width: 11px;
	    height: 12px;
	    background: url(../images/hexagon_tiny.png) no-repeat;
	    position: relative;
	    top: 0;
	    right: 0;
	    content: ' ';
	}
	.jobs-application__form textarea {
	    height: 260px;
	    margin-top: 3px;
	    margin-bottom: 20px;
	    color: #6d6d6d;
	}
	.field {
	    width: 100%;
	    padding: 5px 10px;
	    border: 1px solid #e4e1d8;
	    border-radius: 3px;
	    background: white;
	    color: #3f444c;
	    font-size: 1rem;
	    line-height: 24px;
	    -webkit-transition: 0.15s ease-in-out opacity;
	    transition: 0.15s ease-in-out opacity;
	    -webkit-font-smoothing: antialiased;
	}
	.jobs-application__form {
	    width: 68.47636%;
	    float: left;
	    margin-right: 0.87566%;
	}
	.button-upload {
	    position: relative;
	    overflow: hidden;
	    width: 100%;
	    background: #efefef;
	    padding: 10px;
	    border-radius: 3px;
	    span{
	    	float: left;
		    /* font-weight: bold; */
		    font-size: 19px;
	    }
	}
	.file-upload--jobs {
	    height: 40px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    opacity: 0;
	    cursor: pointer;
	    width: 100%;
	}
	.jobs-application__tips {
	    width: 24.34326%;
	    float: right;
	    margin-right: 0;
	    font-size: 0.8rem;
	}
	.jobs-application__tips h3 {
	    margin-top: 0;
	    margin-bottom: 10px;
	    color: #6d6d6d;
	    font-style: normal;
	    font-size: 24px;
	}
	.jobs-application__tips .input-container {
	    margin-bottom: 10px;
	    padding-bottom: 0;
	}
	.jobs-application__tips h5 {
	    font-style: normal;
	    color: #131518;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 5px;
	    font-size: 16px;
	}
	.jobs-application__tips ul {
	    padding: 0;
	    margin-top: 5px;
	}
	.jobs-application__tips li {
	    list-style: none;
	    font-size: 14px;
	    padding-bottom: 10px;
	}
	.bullet--hexagon li:before {
	    display: inline-block;
	    margin-right: 10px;
	    width: 11px;
	    height: 12px;
	    background: url(../images/hexagon_tiny.png) no-repeat;
	    position: relative;
	    top: 0;
	    right: 0;
	    content: ' ';
	}
	h5{
		    font-size: 16px;
	}

	.jobs-application__content {
	    color: #6d6d6d;
	    background: #ffffff;
	    border-radius: 3px;
	    overflow: hidden;
	    padding: 25px;
	    position: relative;
	    margin-bottom: 10px;
	}
	.jobs-application__earnings {
	    color: #ffffff;
	}
	.jobs-application__earnings label {
	    color: #ffffff;
	    margin-left: 10px;
	        margin-right: 3px;
    font-size: 18px;
    	&.error{
    		    color: red;
    		font-size: 12px;
    	}
	}
	.jobs-application__earnings input[type=text] {
	    display: inline-block;
	    width: 110px;
	    color: #6d6d6d;
	    font-size: 20px;
	}
	.jobs-application__content--footer {
	    background: #67c4b0;
	    margin: -10px 0 40px;
	    border-radius: 0 0 3px 3px;
	}
	.jobs-application__earnings i {
	    margin: 0 40px 0 10px;
	}
	.jobs-application__terms {
	    margin-left: 120px;
	    display: inline-block;
	}
	.jobs-application__terms-link{
		color: #fff;
		text-decoration: underline;
	}

	.jobs-application__earnings .button {
	    background-color: #5ea898;
	    font-size: 20px;
	    font-weight: 600;
	    height: 40px;
	    padding: 4px 20px;
	    margin-top: 10px;
	}

	.jobs-header .button {
	    width: 160px;
	    height: 40px;
	    padding: 3px;
	    font-size: 20px;
	    margin-top: -7px;
	}
	.jobs-form__block--left {
	    width: 68.47636%;
	    float: left;
	    margin-right: 0.87566%;
	}
	.jobs-form__content-title {
	    font-weight: 300;
	    color: #212121;
	    font-size: 24px;
	    margin-bottom: 30px;
	}
	.jobs-form__label:before {
	    display: inline-block;
	    margin-right: 5px;
	    width: 11px;
	    height: 12px;
	    background: url(../images/hexagon_tiny.png) no-repeat;
	    position: relative;
	    top: 0;
	    right: 0;
	    content: ' ';
	}
	.jobs-form__label {
	    display: block;
	    padding-bottom: 8px;
	    color: #131518;
	        font-size: 18px;
	        
	}
	.jobs-form__category-block{
		label{
			font-weight: bold;
    font-size: 18px;
		}
	}
	.jobs-form__block--left .input-container{
		padding-bottom: 12px;
	}
	.jobs-form__block--half {
	    width: 49.56217%;
	    float: left;
	    margin-right: 0.87566%;
	}
	.jobs-form__block--half.is-last {
	    width: 49.56217%;
	    float: right;
	    margin-right: 0;
	}
	.jobs-form__list-title {
	        display: block;
	    padding: 10px;
	    float: left;
	    background: #efefef;
	    width: 100%;
	}
	.jobs-form__offer {
	    clear: both;
	    width: 100%;
	}
	.jobs-form__deadline {
	    width: 24.34326%;
	    float: left;
	    margin-right: 0.87566%;
	}
	.deadline_line {
	    margin: 19px 0px;
	    width: 100%;
	    border-bottom: 1px solid #d5d1c3;
	}
	.jobs-offer__visibility {
	    margin-left: 12.60946%;
	    width: 62.17163%;
	    float: right;
	    margin-right: 0;
	    float: left;
	}
	.jobs-form__offer-item {
	    display: inline-block;
	    float: left;
	    margin-right: 40px;
	    label{
	    	    font-size: 18px;
	    	font-weight: bold;
	    }
	}
	.jobs-offer__visibility small {
	    display: block;
	    font-weight: normal;
	}
	.jobs-offer__budget--small-col{
		padding-top: 20px;
	}

	.page-template-page-post-job .ui-tooltip{
	display: none!important;
	}

	section.content-section.blog-post{
		.challenges-list {
			.challenge {
				width: 100%; 
				.challenge-content .challenge-inner {
					.challenge-title{
						min-height: inherit;
						a{
							color: #27a885;
							&:hover{
								color: #131518;
							}
						}
					}
					.challenge-description{
						margin-top: 15px;
						margin-bottom: 10px;
					}
					.challenge-info{
						padding-top: 0;
					}
				}

			}
			.blog-content__main {
			    width: 62.17163%;
			    float: left;
			    margin-right: 0.87566%;
			}
		}
		
	} 	
	.u-float-right{
		float: right;
	}
	.blog-content__sidebar {
	    width: 36.95271%;
	    float: right;
	    margin-right: 0;
	}
	.list--stats>li, .list--stats>.list__item {
	    display: block;
	    padding: 8px 0;
	    border-bottom: 1px solid #e0ddd2;
	    position: relative;
	    a{
	    	text-decoration: underline;
	    }
	}
	.blog-content__main{
		.tag-list{
			&:before{
				display: none;
			}
			span{
				font-weight: bold;
			}
			ul{
				li{
					background: transparent;
					a{
						color: #878787;
					}
				}
			}
		}
		.yourcomment{
			.comment-form-comment textarea{
				width: 100%;
			}
			.form-submit{
				input[type="submit"]{
					float: right;
				}
			}
		}
	}
	.back-to-posts {
	    margin: 20px 0;
	    a{
	    	text-decoration: underline;
	    }
	}
	.blog-content__sidebar{
		.content-heading{
				margin: 2em 0 10px;
			}
			.product-share-old{
				ul{
					li{
						.fa-stack-2x{
							font-size: 2em;
						}
					}
				}
			}
			.social-networks {
    			padding-top: 20px;
				.fa-social-share {
				    font-size: 1.25rem;
				}
			}
	}	


.site-page--tutorial-form .tutorial-form__title {
    margin-bottom: 25px;
    margin-top: 25px;
        font-size: 36px;
}
.site-page--tutorial-form .tutorial-form__label {
    color: #131518;
    display: block;
    margin-bottom: 3px;
    cursor: default;
}
.site-page--tutorial-form .tutorial-form__label:before {
    top: 0;
    right: 0;
    margin-right: 5px;
    height: 12px;
    width: 11px;
    background: url(../images/hexagon_tiny.png) no-repeat;
    content: ' ';
    display: inline-block;
    position: relative;
}
.site-page--tutorial-form .tutorial-form__content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    background: #fff;
    padding-top: 0;
}
.site-page--tutorial-form .tutorial-form__block--left {
    width: 68.47636%;
    float: left;
    margin-right: 0.87566%;
}
.site-page--tutorial-form .tutorial-form__block--right {
    width: 27.49562%;
    float: right;
    margin-right: 0;
}
.site-page--tutorial-form .field, .site-page--tutorial-form .select2-container, .site-page--tutorial-form .select2-choices {
    background: #f7f6f3;
}
.tutorial-editor{
	height: 300px;
}
.site-page--tutorial-form .fr-box.fr-basic .fr-element{
	min-height: 350px;	
}
.tutorial-form__block--right{
	.upload-area{
		position: relative;
		height: 250px;
		background: #f7f6f3 url(../images/upload_area_bg.png) no-repeat 50% 20%;
		#filedrag{
			font-size: 18px;
		}
		input[type="file"]{
			height: 250px;
		    width: 100%;
		    opacity: 0;
		    cursor: pointer;
		}
	}
	#fileTutorial{
		display: none;
			    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;
	        z-index: 100;
	    .remove-string, .MultiFile-title{
	    	display: none;
	    }
	    .MultiFile-label{
	    	height: 100%;
	    	img.MultiFile-preview{
	    		    max-width: 100%!important;
    				max-height: 100%!important;
	    	}
	    }
	    a.MultiFile-remove{
	        position: absolute;
		    right: 5px;
		    top: 5px;
	    }
	}
}
.nested-fields{
	margin-bottom: 25px;
}

.wcv-product-media{
	h6{
	}
	.wcv-grid .wcv-featuredimg{

	}
}
.supports-drag-drop{
	.media-modal-close{
		.screen-reader-text{
			display: none;
		}
	}
}
.media-modal-content .media-toolbar-primary.search-form{
	.media-button-select{
		    width: auto;
    	color: #fff;
	}
}
.wcv-grid #product_images_container ul li.wcv-gallery-image{
		padding: 0;
    margin-right: 10px;
}
.wcv-grid #product_images_container ul ul.actions{
	    top: -5px;
    left: auto;
    right: -2px;
    background: transparent;
	li{
		padding-right: 0;
	}
}
.upload-area{
	.wcv-media-uploader-featured-add {
		display: block;
		height: 100%;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
		.feature-text{
		        font-size: 3rem;
		    color: #6d6d6d;
		    font-weight: 700;
		    text-transform: uppercase;
		    padding-top: 179px;
		    display: block;
		    margin-top: 0;
		    span{
		    	display: block;
			    font-size: 0.875rem;
			    line-height: 18px;
			    font-weight: 400;
			    text-transform: none;
			    b{
			    	display: block;
				    color: #ce3c5c;
				    font-size: 2.5rem;
				    line-height: 46px;
				    font-weight: 700;
				    text-transform: uppercase;
			    }
		    }
		}		
	}
}

.site-page--product-publisher{
	.action-bar{
		.publishing-steps{
			margin-top: 4px;
		}
	}
	.select2-container-multi .select2-choices{
		border-width: 3px;
	}
}
.wcv-pro-dashboard{
	header,.entry-header,  .header-search, footer{
		display: none;
	}
}
.wcv-form input[type=color], .wcv-form input[type=date], .wcv-form input[type=datetime-local], .wcv-form input[type=datetime], .wcv-form input[type=email], .wcv-form input[type=month], .wcv-form input[type=number], .wcv-form input[type=password], .wcv-form input[type=search], .wcv-form input[type=tel], .wcv-form input[type=text], .wcv-form input[type=time], .wcv-form input[type=url], .wcv-form input[type=week], .wcv-form select, .wcv-form textarea{
	border-width: 3px;
}
.product-type-select, .category-block{
	.select2-container .select2-choice{
		height: 39px;
		    line-height: 31px;
		    border: 3px solid #aaa;
	}
}
.tag-block{
	label[for="product_tags"]{
		padding-bottom: 5px;
		display: block;

	}
	ul.select2-choices{
		.select2-search-field{
			background: #fff url(../images/icon_tag.png) no-repeat 7px 7px;
			padding-left: 35px;
		}
	}
}
.u-left-category{
	label{
		display: inline-block;
		margin-right: 7px;
	}
	.control.select{
			display: inline-block;
	}
}
.wcv-tabs-upload{
	margin-top: 25px;
	.price-block-js{
		width: 15.69087%;
		position: relative;
		display: inline-block!important;
		span.symbol{
			    position: absolute;
		    top: 75px;
		    right: 12px;
		    z-index: 2;
		    border-left: 1px solid #ccc;
		    height: 39px;
		    padding-left: 6px;
		    line-height: 39px;
		}
		input[name="_regular_price"]{
			padding-right: 30px;
		}
	}
	
}
.show_if_downloadable{
		display: block!important;
	}
	.shareforfree{
		    display: inline-block;
    margin-left: 20px;
	}
.btn-control-product{
	input[type="submit"]{
		background: transparent!important;
		    font-weight: bold;
		    color: #fff;
		    &[name="draft_button"]{
		    	opacity: 0.8;
		    }

	}
	button:hover{
		background: transparent!important;	
	}
}
.select2-container .select2-choice .select2-arrow{
	background: transparent;
}
.product-cat-list{
	padding-left: 0!important;
	li{
		display: inline-block;
		margin-right: 15px;
	}
}
#uvw-mapping-block{
	display: none;
	&.opened{
		display: block;
	}
}
.site-page--product-publisher .geometry-values {
    display: inline-block;
    width: 24.12178%;
    float: left;
    margin-right: 1.17096%;
    padding-left: 15px;
    border-left: 1px solid #eae8e1;
}
.site-page--product-publisher .geometry-values.is-last {
    float: right;
    margin-right: 0;
    border-left: 0;
}
.site-page--product-publisher .geometry-type {
    width: 49.41452%;
    float: left;
    margin-right: 1.17096%;
    margin-top: 5px;
}
.ul-challenge{
	ul{
	padding-left: 0!important;
	}
}
.wcv-product-basic{
	margin-right: 10px;
}
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    line-height: 16px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    fill: currentColor;
}
.site-page--product-publisher .geometry-values .field {
    width: 85%;
}
.sortable__item {
    display: block;
    width: 100px;
    height: 75px;
    margin-right: 13px!important;
    margin-bottom: 13px!important;
    float: left;
    border-radius: 3px;
    background: #fbfaf9;
    line-height: 75px;
    text-align: center;
    overflow: hidden;
    cursor: move;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
    -webkit-filter: brightness(100%) contrast(100%) sepia(0);
    filter: brightness(100%) contrast(100%) sepia(0);
    position: relative;
    -webkit-backface-visibility: hidden;
    .sortable__item-remove{
	    i{
	    	display: table;
		    margin: 0 auto;
		    font-size: 13px;
		    margin-top: 2px;
		    line-height: 14px;
	    }
    	
    }
    &:hover{
    	.sortable__item-remove{
    		display: block;
    		i:after{
    			content: "\f00d";
    		}
    	}
    }
}
.wcv-grid ul{
	padding-left: 0;
}
.files-panel{
	display: none; 
	padding-bottom: 20px; 
}
.progress {
        overflow: hidden;
    height: 10px;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    width: 100%;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.sortable:after {
    clear: both;
}
.sortable:before, .sortable:after {
    content: " ";
    display: table;
}

.error-upload-file{
	color: red;
	font-size: 14px;
	padding-bottom: 10px;
}
.site-page--gallery .product-share-old .list-item {
        margin: 0 5px 5px 0;
    padding: 0;
}
.site-page--gallery .product-share-old{
	margin-top: 25px;
}
.card__heading {
    margin: 0 0 5px;
    padding: 0;
    font-size: 1.125rem;
    line-height: 26px;
    font-weight: normal;
    color: black;
}
.site-page--gallery .galleries>li {
    width: 49.56217%;
    float: left;
    margin-bottom: 5px;
}
.site-page--gallery .galleries>li:nth-child(2n+1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
}
.site-page--gallery .galleries:after {
    clear: both;
}
.site-page--gallery .galleries:before, .site-page--gallery .galleries:after {
    content: " ";
    display: table;
}
.site-page--gallery .gallery__like {
    margin-bottom: 10px;
}
.gallery__header{
	.avatar {
		    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
	}
}

.tutorials-search__section {
    width: 74.78109%;
    float: right;
    margin-right: 0;
    border-radius: 3px;
    height: 52px;
    margin-bottom: 10px;
    background: #f5f5f5;
    position: relative;
}
.tutorials-search {
    border-radius: 3px;
    background: white;
    display: inline-block;
    margin: 0.35rem;
    position: absolute;
    width: 75%;
}
.tutorials-search__field {
    font-size: 1rem;
    line-height: 38px;
    padding: 0 10px 0 10px;
    border-radius: 3px;
    background: #fff;
    border: 0;
    color: #131518;
    font-weight: 300;
    width: 70%;
}
.tutorials-search__button {
    height: 40px;
    float: right;
    background: none;
    border: 0;
    color: #67c4b0;
    cursor: pointer;
}
 .tutorials-sorting__section {
    display: inline-block;
    float: right;
    margin: 15px .90rem .90rem;
}
.tutorials-sorting__section li {
    display: inline;
}
.tutorials-sorting__section a {
    margin: .5rem;
}
.fa-search:before {
    content: "\f002";
}
.challenge-sections {
    margin: 30px 0;
}
.challenge-sections{
	.sec-challenge{
		display:none;
		&.is-active{
		display: block;
		}
	}
}

.sortable__item{
	&.video_yt{
		background: url(../images/youtube.png) no-repeat;
	}	
	&.video_vm{
		background: url(../images/vimeo.png) no-repeat;
	}
	&.video_skfb{
		background: url(../images/sketchfab.png) no-repeat;
	}
}
.user-content{
	.content-box-wrapper{
		.woocommerce{
			width: 100%;
		}
	}	
}
