.register-popup{
	display: none;
	position: fixed;
		left: 0;
		width: 100%;
		top: 0;
		height: 100%;
		    z-index: 100;
	.overlay{
		background: #000;
		opacity: 0.7;
		position: fixed;
		left: 0;
		width: 100%;
		top: 0;
		height: 100%;
	}
	.register-content{
		    width: 550px;
		    position: relative;
		    margin: 0 auto;
		    background: #fff;
		    padding: 20px;
		    margin-top: -210px;
    top: 50%;
		    border-radius: 10px;
		    h2{
			    font-weight: bold;
			    font-size: 24px;
			    padding-bottom: 15px;
		    }
		    p{
		    	label{
		    		display: block;
		    		padding-bottom: 5px;
		    	}
		    }
		    .form-row{
		    	input[name="apply_for_vendor"]{
		    		    float: left;
				    margin-right: 10px;
				    position: relative;
				    top: 3px;
		    	}
		    }
		    input[type="submit"]{
		    	margin-top: 20px;
		    }
		    .woocommerce-password-strength{
		    	padding-top: 10px;
		    }
		    .close{
				font-size: 27px;
			    font-weight: bold;
			    position: absolute;
			    right: 19px;
			    top: 13px;
			}
	}
}
.product-slideshow-overlay{
	top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(245,244,240,0.9);
    position: fixed;
    z-index: 899;
}
.site-publishing-overlay {
    display: none;
    width: 100%;
    height: 100%;
    border-top: 5px solid #67c4b0;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 900;
    opacity: 0.95;
        z-index: 900;
    display: block;
    background: url(../images/publishing_overlay_bg.jpg) no-repeat top center;
    background-size: cover;
}
.site-publishing-overlay__header {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1rem;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
}
.site-publishing-overlay__close {
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
    cursor: pointer;
    color: #Fff;
    font-size: 25px;
}
.site-publishing-overlay__header {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1rem;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
}
.content-heading__title {
    display: block;
    margin: 0 0 5px 0;
    font-size: 2rem;
    line-height: 32px;
    color: #131518;
    font-weight: 300;
}
.content-heading--on-contrast .content-heading__title {
    color: white;
    -webkit-font-smoothing: antialiased;
}
.site-publishing-overlay__body {
    display: block;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.content-heading--on-contrast .content-heading__subtitle {
    color: white;
}
.site-publishing-overlay__choices {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
}
.site-publishing-overlay__choices>li {
    display: inline-block;
    width: 208px;
    height: 227px;
    padding-top: 9px;
    margin-right: 60px;
    background: url(../images/publishing_choice_sprite.png) no-repeat 0 1px;
    text-align: center;
}
.site-publishing-overlay__choices a {
    text-decoration: none;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}