.register-popup{
    display: none;
    position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
            z-index: 100;
    .overlay{
        background: #000;
        opacity: 0.7;
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
    }
    .register-content{
            width: 550px;
            position: relative;
            margin: 0 auto;
            background: #fff;
            padding: 20px;
            margin-top: -210px;
    top: 50%;
            border-radius: 10px;
            h2{
                font-weight: bold;
                font-size: 24px;
                padding-bottom: 15px;
            }
            p{
                label{
                    display: block;
                    padding-bottom: 5px;
                }
            }
            .form-row{
                input[name="apply_for_vendor"]{
                        float: left;
                    margin-right: 10px;
                    position: relative;  
                    top: 3px;
                }
            }
            input[type="submit"]{
                margin-top: 20px;
            }
            .woocommerce-password-strength{
                padding-top: 10px;
            }
            .close{
                font-size: 27px;
                font-weight: bold;
                position: absolute;
                right: 19px;
                top: 13px;
            }
    }
}
.product-slideshow-overlay{
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(245,244,240,0.9);
    position: fixed;
    z-index: 899;
}
.site-publishing-overlay {
    display: none;
    width: 100%;
    height: 100%;
    border-top: 5px solid #67c4b0;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 900;
    opacity: 0.95;
        z-index: 900;
    background: url(../images/publishing_overlay_bg.jpg) no-repeat top center;
    background-size: cover;
}
.site-publishing-overlay__header {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1rem;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
}
.site-publishing-overlay__close {
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
    cursor: pointer;
    color: #Fff;
    font-size: 25px;
}
.site-publishing-overlay__header {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1rem;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
}
.content-heading__title {
    display: block;
    margin: 0 0 5px 0;
    font-size: 36px;
    line-height: 32px;
    color: #131518;
    font-weight: 300;
}
.content-heading--on-contrast .content-heading__title {
    color: white;
    -webkit-font-smoothing: antialiased;
}
.site-publishing-overlay__body {
    display: block;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.content-heading--on-contrast .content-heading__subtitle {
    color: white;
        font-size: 21px;
    padding-top: 5px;
}
.site-publishing-overlay__choices {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
}
.site-publishing-overlay__choices>li {
    display: inline-block;
    width: 208px;
    height: 227px;
    padding-top: 9px;
    margin-right: 60px;
    background: url(../images/publishing_choice_sprite.png) no-repeat 0 1px;
    text-align: center;
}
.site-publishing-overlay__choices a {
    text-decoration: none;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}
.site-publishing-overlay__choices>li:hover {
    background-position: 0 -424px;
}
.site-publishing-overlay__choices>li:hover {
    background-position: 0 -424px;
}
.site-publishing-overlay__choices>li:hover {
    background-position: 0 -424px;
}
.site-publishing-overlay__choice {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
    color: #fff;
    font-size: 17px;
}
.site-publishing-overlay__choices a , .site-publishing-overlay__choice span {
    color: rgba(255,255,255,0.7);
}
.site-publishing-overlay__choice span { 
    display: block;
    text-transform: none;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}
#filedrag {
    font-weight: bold;
    text-align: center;
    color: #555;
    border-radius: 7px;
    cursor: default; 
    display: block;
    width: 100%;
    color: #6d6d6d;
    font-size: 3rem;
    line-height: 54px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 55%;
    left: 0;
    z-index: 99;
    -webkit-transition: 0.15s ease-in-out opacity;
    transition: 0.15s ease-in-out opacity;
    span{
        display: block;
        font-size: 0.875rem;
        line-height: 18px;
        font-weight: 400;
        text-transform: none;
        b{
                    display: block;
            color: #ce3c5c;
            font-size: 2.5rem;
            line-height: 46px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
.publishing-steps {
    margin: 12px 0 0 0;
    padding: 0;
    font-size: 1rem;
    line-height: 18px;
}
.publishing-steps>li {
    display: inline-block;
    margin-right: 80px;
    list-style: none;
    text-transform: uppercase;
    position: relative; 
}
.publishing-steps>li:first-child:before {
    content: "1";
}
.site-page--product-publisher .publishing-steps>li.is-active a {
    background-position: 0 -30px;
    color: white;
}
.site-page--product-publisher .publishing-steps a {
    display: inline-block;
    padding-left: 30px;
    background: url(../images/step_indicator_sprite.png) no-repeat 0 2px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}
.publisher-wrapper {
    min-height: 600px;
    padding-bottom: 80px;
    position: relative;
}
.action-bar {
    display: block;
    width: 100%;
    height: 60px;
    background: #67c4b0;
    color: white;
    left: 0;
    line-height: 57px;
    z-index: 101;
    overflow: hidden;
}
.site-page--product-publisher .publishing-steps>li.is-active a {
    background-position: 0 -30px;
    color: white;
}
.site-page--product-publisher .publishing-steps>li:before {
    display: block;
    font-size: 0.75rem;
    position: absolute;
    top: 4px;
    left: 7px;
    opacity: 0.6;
}
.site-page--product-publisher .publishing-steps li a{
    font-size: 14px;
}
.site-page--product-publisher .publishing-steps>li {
    display: inline-block;
    margin-right: 80px;
    list-style: none;
    text-transform: uppercase;
    position: relative;
}
.site-page--product-publisher .publishing-steps>li span {
    display: block;
    text-transform: none;
    font-size: 0.875rem;
    line-height: 16px;
    font-weight: 300;
    opacity: 0.8;
}
.site-page--product-publisher .publishing-steps>li:after {
    display: block;
    width: 30px;
    height: 180%;
    background: url(../images/arrow_right_white.png) no-repeat;
    position: absolute;
    top: -12px;
    right: -60px;
    content: " ";
    opacity: 0.5;
}
.site-page--product-publisher .publishing-steps>li:last-child:before, .site-page--product-publisher .publishing-steps>li.is-last:before {
    content: "2";
}
.site-page--product-publisher .button-section {
    display: inline-block;
    min-height: 60px;
    padding-right: 15px;
    border-right: 1px solid rgba(255,255,255,0.3);
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-trash-o:before {
    content: "\f014";
}
.fa-eye:before {
    content: "\f06e";
}
.button--compact {
    height: 40px;
    line-height: 40px;
}
.button--transparent {
    background: transparent;
    opacity: 0.8;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}
.button {
    background: #67c4b0;
    display: inline-block;
    height: 33px;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    line-height: 33px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: 0.15s ease-in-out background;
    transition: 0.15s ease-in-out background;
    cursor: pointer;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}
.site-page--product-publisher .publish-button.is-disabled {
    pointer-events: all;
}
.button.is-disabled, .button[disabled] {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}
.fa-rocket:before {
    content: "\f135";
}
.site-page--product-publisher .button-section {
    display: inline-block;
    min-height: 60px;
    padding-right: 15px;
    border-right: 1px solid rgba(255,255,255,0.3);
}
a.button--icon.js-clear{
    margin-top: 20px;
}
.site-page--product-publisher .sticky-wrapper {
    margin-bottom: 0;
    z-index: 100;
}
.site-page--product-publisher .upload-area {
    display: block;
    width: 100%;
    height: 350px;
    margin: 75px 0;
    border: 2px dashed #eae8e1;
    border-radius: 3px;
    background: #f7f6f3 url(../images/upload_area_bg.png) no-repeat 50% 20%;
    text-align: center;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
    position: relative;
    cursor: pointer;
    input[type="file"]{
        position: absolute;
            z-index: 100;
        height: 350px;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
}
.visuals-panel{
    display: none;
}
.input-container {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d5d1c3;
    position: relative;
}
.printable-new{
    padding: 0 20px;
}
#messages{
    li{
        display: block;
        width: 100px;
        height: 75px;
        margin-right: 13px;
        margin-bottom: 13px;
        float: left;
        border-radius: 3px;
        background: #fbfaf9;
        line-height: 75px;
        text-align: center;
        overflow: hidden;
        cursor: move;
        -webkit-transition: 0.15s ease-in-out all;
        transition: 0.15s ease-in-out all;
        -webkit-filter: brightness(100%) contrast(100%) sepia(0);
        filter: brightness(100%) contrast(100%) sepia(0);
        position: relative;
        -webkit-backface-visibility: hidden;
        img{
            width: 100%;
        }
    }
}
.visuals-panel{
    #messages{
        span.MultiFile-title{
            display: none;
        }

    }
    .fa-remove:before, .fa-close:before, .fa-times:before {
        content: "\f00d";
    }
    .fa-times:before{
        display: none;
    }
}
.sortable__item-remove {
    display: none;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background: #131518;
    color: white;
    text-align: center;
    line-height: 14px;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 10;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}   
.fa-times{
    content: "\f00d";
}
.visuals-panel{
    .MultiFile-label{
        display: block;
        width: 100px;
        height: 75px;
        margin-right: 13px;
        margin-bottom: 13px;
        float: left;
        border-radius: 3px;
        background: #fbfaf9;
        line-height: 75px;
        text-align: center;
        overflow: hidden;
        cursor: move;
        -webkit-transition: 0.15s ease-in-out all;
        transition: 0.15s ease-in-out all;
        -webkit-filter: brightness(100%) contrast(100%) sepia(0);
        filter: brightness(100%) contrast(100%) sepia(0);
        position: relative;
        -webkit-backface-visibility: hidden;
        
        a.MultiFile-remove{
            position: absolute;
            display: none;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            background: #131518;
            color: white;
            text-align: center;
            line-height: 14px;
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 10;
            cursor: pointer;
            opacity: 0.8;
            -webkit-transition: 0.15s ease-in-out all;
            transition: 0.15s ease-in-out all;
        }
        &:hover{
            .remove-string{
                display: block;
                &:before{
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "\f00d";
                    display: inline-block;
                        margin-top: 2px; 
                }
            }
            a.MultiFile-remove{
                display: block;
                
            }

        }
    }
}

.site-page--product-publisher .sectioned-content {
    width: 72.78109%;
    float: left;
    margin-right: 0.87566%;
    padding-top: 75px;
    padding-right: 15px;
    border-right: 1px solid #eae8e1;
}
.site-page--product-publisher .field {
    border-width: 3px;
}
    .site-page--product-publisher .field {
    border-width: 3px;
}
.input-container {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d5d1c3;
    position: relative;
}
.site-page--product-publisher .block-label {
    display: block;
    margin-bottom: 5px;
}
.site-page--product-publisher .inline-label {
    display: inline-block;
    margin-right: 10px;
}
.site-page--product-publisher label b {
    color: #ce3c5c;
    font-weight: normal;
}
.site-page--product-publisher .category-container {
    display: inline-block;
}
.site-page--product-publisher .units-container {
    display: inline-block;
    float: right;
}
.chosen-container {
    display: inline-block;
    min-width: 200px;
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 14px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

.site-page--product-publisher .block-label {
    display: block;
    margin-bottom: 5px;
}
.site-page--product-publisher{
    .tagsinput {
        width: 100%;
        padding: 3px 5px 5px 35px;
        border: 1px solid #e4e1d8;
        border-radius: 3px;
        background: #fff url(../images/icon_tag.png) no-repeat 7px 9px;
        color: #3f444c;
        font-size: 1rem;
        line-height: 24px;
        -webkit-transition: 0.15s ease-in-out opacity;
        transition: 0.15s ease-in-out opacity;
        -webkit-font-smoothing: antialiased;
    }
    .tagsinput div {
        display: block;
        float: left;
    }
    .tagsinput input {
        width: 80px;
        margin: 2px;
        border: 0;
        background: none;
        color: #a0a0a0;
        line-height: 20px;
        outline: 0;
    }
    .tagsinput .tag {
        display: block;
        padding: 1px 8px 2px; 
        margin: 2px;
        border-radius: 15px;
        background: #67c4b0;
        color: white;
        font-size: 0.875rem;
        line-height: 20px;
        float: left;
    }
    .tagsinput .tag a {
        font-weight: 700;
        color: rgba(255,255,255,0.7);
        text-decoration: none;
    }
}
.site-page--product-publisher .pricing-options__price {
    width: 15.69087%;
    float: left;
    margin-right: 1.17096%;
}
.site-page--product-publisher .field {
    border-width: 3px;
}
.publisher-container{
    padding-bottom: 150px; 
}
.site-page--product-publisher .publisher-container .heading {
    margin-top: 20px;
}
.field-wrapper .field-suffix {
    display: block;
    width: 40px;
    padding-right: 3px;
    border-left: 1px solid #e4e1d8;
    color: #6d6d6d;
    text-align: center;
    line-height: 37px;
    position: absolute;
    top: 0;
    right: 0;
}
.field-wrapper {
    width: 100%;
    position: relative;
}
.site-page--product-publisher .pricing-options__free {
    width: 83.13817%;
    float: left;
    margin-right: 1.17096%;
    float: right;
    margin-right: 0;
    line-height: 38px;
    .checkbox {
        margin-top: 11px;
    }
}
.site-page--product-publisher .inline-label {
    display: inline-block;
    margin-right: 10px;
}
.site-page--product-publisher .license-options {
    display: inline-block;
    margin-bottom: 10px;
}
label[for="adult_content"]{
    font-weight: bold;
}
.site-page--product-publisher .sensitive-content-explanation, .site-page--product-publisher .challenges-explanation {
    margin-top: 10px;
    font-size: 0.875rem;
    line-height: 18px;
    color: #939393;
}
.uploads-tab{
    display: none;
    &.is-active{
        display: block;
    }
}
.site-page--product-publisher .help-section {
    width: 24.34326%;
    float: left;
    margin-right: 0.87566%;
    float: right;
    margin-right: 0;
    padding-top: 20px;
    position: relative;
}
.help-bubble {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background: white;
    color: #878787;
    font-size: 0.875rem;
    line-height: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
}
.help-bubble__title {
    margin: 0 0 10px 0;
    font-size: 1.125rem;
    line-height: 24px;
    font-weight: 400;
    color: #ce3c5c;
}
.help-bubble__content p {
    margin-bottom: 10px;
}
.help-bubble:after {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
}
.help-bubble.is-left:after {
    top: 13px;
    left: -10px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
}