h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin:0;
	padding:0;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
	clear:both;}

a {
	outline:none;}
form, input, textarea {
	margin:0;
	padding:0;
	border:0;
	font-family:'NiveaOTFBook', Arial, Helvetica, sans-serif;
	color:#575859;
}
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */

/*paramater*/
$colorB:#000;
$color6:#666;
$color3:#333;
$color4:#444;
$colorW:#fff;
$colorR:#ce0000;
$colorBR:#938161;
@mixin boderRadius($value)
{
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin shapes($bg) 
{
	width: 0;
	height: 0;
	border-top: 19px solid $bg;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
}
