
/* ! PRIMARY STYLES */
html, body{width:100%;}
a{text-decoration: none;}
.clear{clear:both;}

.container{
	padding-left: 20px;
	padding-right: 20px;
}
p {
    margin: 0 0 20px 0;
}
.is-hidden {
    display: none !important;
}
.content-area{
	max-width: 70em;
	    margin-left: auto;
    margin-right: auto;
}
.entry-header{
	padding-top: 20px;
}
.section{
	.container{
		max-width: 71.375em;
		margin: 0 auto;
	}
}
.login-container{
	h2{
		font-size: 30px;
		padding-bottom: 15px;
	}
	&.session-container {
	    width: 43.25744%; 
	    margin: 80px auto;
	}
	.box{
		display: block;
	    width: 100%;
	    border: 1px solid #e0ddd2;
	    border-radius: 3px;
	    background: white;
	    box-shadow: 0 2px 5px rgba(19,21,24,0.05);
	    .l-inner {
		    padding: 20px;
		}
	}
	input[type="text"], input[type="password"] {
	    width: 100%;
	    padding: 5px 10px;
	    border: 1px solid #e4e1d8;
	    border-radius: 3px;
	    background: white;
	    color: #3f444c;
	    font-size: 1rem;
	    line-height: 24px;
	    -webkit-transition: 0.15s ease-in-out opacity;
	    transition: 0.15s ease-in-out opacity;
	    -webkit-font-smoothing: antialiased;
	}
	.form-row {
	    margin-bottom: 12px;
	    padding-bottom: 12px;
	    border-bottom: 1px solid #d5d1c3;
	    position: relative;
	    label {
	      display: block;
	      margin-bottom: 3px;
	  }
	}
	.field--important {
	    padding: 10px;
	}
	input[type="text"]:after {
	    clear: both;
	}
	input[type="text"]:before, input[type="text"]:after {
	    content: " ";
	    display: table;
	}
	input[type="text"] {
	    margin-bottom: 12px;
	    padding-bottom: 12px;
	    border-bottom: 1px solid #d5d1c3;
	    position: relative;
	}
	input[type="text"].is-last {
	    padding-bottom: 0;
	    border-bottom: 0;
	}
	input[type="submit"]{
		height: 50px;
	    padding: 0 15px;
	    font-size: 1rem;
	    line-height: 48px;
	}
	label[for="rememberme"]{
		float: right;
		    margin-top: 21px;
	}
	a.button {
	    color: white;
	}
	.button--facebook {
	    background: #43609b;
	}
	.button--compact {
	    height: 40px;
	    line-height: 40px;
	}
	.button--gplus {
	    background: #cb5d44;
	}
	.session-links {
	    margin: 20px 0 0 0;
	    padding: 0;
	    text-align: center;
	    &>li{
	      display: inline-block;
	    margin-right: 15px;
	    list-style: none;

	    }
	    a{
	      font-size: 15px;
	      text-decoration: underline;
	      font-weight: bold;
	    }
	}
}

.content-area{
	.page-title{
		    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 13px;
	}
	.term-description{
		padding-bottom: 10px;
		p{
			font-size: 16px;
		}
	}
	.box-tags{
		padding-top: 10px;
		padding-bottom: 15px;
		h4{
			padding-bottom: 15px;
		}
		a{
			 margin-right: 30px;
		}
	}
}

.aleft{
	float: left;
}
.aright{
	float: right;
}
.freeCk {
	margin-right: 15px;
	margin-left: 15px;
}
.filterSelect{
	&.sort-by{
		width: 200px!important;
	}
}
.hasborder{
	border-bottom: 1px solid #ccc;
}
.filterSelect, .woocommerce-ordering{
	width: 130px;margin-right: 40px;
	.selection, .select2-selection{
		display: block;
		    padding-right: 15px;
	}
	.select2 {
		display: block;
	    width: 100%!important;
	    height: 36px;
	    padding: 0 0 0 8px;
	    border: 1px solid #d5d1c3;
	    border-radius: 3px;
	    background: white;
	    background-clip: padding-box;
	    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,0.1);
	    color: #3f444c;
	    text-decoration: none;
	    white-space: nowrap;
	    line-height: 33px;
	    position: relative;
	    overflow: hidden;
	}
	.select2-selection__arrow{
	    display: block;
	    width: 100%;
	    height: 100%;
	    width: 0;
	    height: 0;
	    border-top: 0.4em solid #6d6d6d;
	    border-right: 0.4em solid transparent;
	    border-left: 0.4em solid transparent;
	    -webkit-transition: 0.15s ease-in-out border;
	    transition: 0.15s ease-in-out border;
	    position: absolute;
	        top: 14px;
    right: 10px;
	}
	select{
		display: none;
	}

}
.select2-container{
	background: #fff;
	padding: 10px;
	input[type="search"]{
		border: 1px solid #ccc;
		padding: 3px;
	}
	.select2-results{
		ul{
			li{
				    padding-top: 8px;
				    &:hover{
				    	color: #27a885;
				    }
			}
		}
	}
	.select2-search{
		display: none;
	}
}
.freeCk{
	margin-top: 10px;
}
.categories-overview{
	min-height: 286px;
	background: url(../images/printable.jpg) no-repeat bottom center;
	background-size: cover;
	.content-area{
		position: relative;
		    z-index: 2;
	}
	&:after{
		    background: #2e343a;
	    opacity: 0.8;
	    content: "";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
}

.noUi-horizontal{
	height: 5px;
}
.noUi-handle:after {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 3px solid white;
    background: #67c4b0;
    position: absolute;
    top: -4px;
    left: -4px;
    content: "";
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}
.price-range{
	    margin-top: 10px;
	    margin-right: 15px;
	span{
		    float: left;
    margin-right: 13px
	}
	#rangePrice{
		display: inline-block;    
		margin-top: 6px!important;
	}
}
.cat-list-filter{
	float: left;
    width: 100%;
	li{
		display: inline-block;
	}
}
.filter-block{

}
.woocommerce-ordering{
	float: left;
	    width: auto;
	margin-right: 0;
	        margin-top: 30px;
    width: 100%;
}
.content-box-wrapper{
	clear: both;
}
div.ui-tooltip {
    max-width: 400px;
}
.ui-tooltip-content{ 
	ul{ 
		height: auto;
	}
	.product-name{
		padding-top: 12px;
    	font-size: 12px;
	}
	.extension{
		padding-top: 5px;
    	font-size: 12px;
	}
} 

.product-container .product-content .product-header .product-header-title {
    display: block;
    margin: 0;
    font-size: 34px;
    padding-bottom: 10px;
}
.product-container .product-content .product-header .product-header-title span{
	    bottom: -5px;
}
.product-container .product-content .product-header{
	padding-bottom: 20px;
	    margin-bottom: 20px;
}
.product-container .product-sidebar .details-box .product-pricing .product-pricing-price {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.product-container .product-sidebar .details-box .product-pricing .product-pricing-actions button{
	&:before{
		content: "\f217";
		font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
    font: normal normal normal 21px/1 FontAwesome;
    top: -3px;
    margin-right: 5px;
	}
}
.product-container .product-sidebar .details-box .product-pricing .product-pricing-actions button, .product-container .product-sidebar .details-box .product-pricing .product-pricing-actions .button-buy-now{
	font-weight: 700;
}

.product-container .product-sidebar .details-box .product-pricing .product-pricing-actions a.buy-now{
	background-color: #ce3c5c;
    padding: 6px 10px 8px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
	&:before{
		content: "\f290";
		font: normal normal normal 18px/1 FontAwesome;
    margin-right: 5px;
        top: -2px;

	}
}
.slick-slide img{
	width: 100%;
}
.primary-navigation > ul.nav > li:hover > ul{
	top: 2.1em;
}

.noUi-horizontal .noUi-tooltip{
	opacity: 0;
	transition: all .5s;
	
}
.noUi-horizontal .noUi-handle{
	&:hover{
		.noUi-tooltip{
			opacity: 1;
		}
		
	}

}

.woocommerce-page{
	.woocommerce-message, .woocommerce-error{
		margin: 20px 0;
	}
}
.woocommerce-cart, .woocommerce-checkout{
	.entry-title{
		font-size: 30px;
		padding-bottom: 20px;
	}
	.cart-form{
		background: #f5f4f0;
		    padding: 40px 20px 20px 20px;
		    border-radius: 10px;
	}
	.shop_table{
		    width: 100%;
		    
		tr{
			border-bottom: 1px solid #ccc;

			th{
				font-weight: bold;
				padding-bottom: 10px;
			}
			td{
				vertical-align: middle;
				padding: 15px 0;
				&.product-thumbnail{
					width: 80px;
					img{
						padding-right: 20px;
					}
				}
				&.product-name{
					a{
						text-decoration: underline;
					}
				}
			}
		}
		.coupon{
			label{
				font-weight: bold;
			}
			input[type="text"]{
				border: 1px solid #ccc;
				padding: 5px;

			}
		}
	}
	input[name="update_cart"]{
		float: right;
	}

	.cart-collaterals{
		    margin: 30px 0;
		    background: #f5f4f0;
		    padding: 40px 20px 20px 20px;
		    border-radius: 10px;
		    width: 40%;
		    float: right;
		    .cart_totals {
		    	h2{
		    		font-size: 30px;
		    		font-weight: bold;
		    	}
		    }
		    .shop_table {
		    	tr{
		    		th{
		    			font-weight: bold;
		    			vertical-align: middle;
		    			text-align: left;
		    		}
		    		td{
		    			font-weight: bold;
		    			font-size: 24px;
		    		}
		    	}
		    }
		    .wc-proceed-to-checkout{
		    	margin-top: 20px;
		    	a{
		    		padding: 10px 20px;
		    		    height: auto;
		    		&:after{
		    			font: normal normal normal 18px/1 FontAwesome;
		    			content: "\f054";
		    			color: #fff;
		    			margin-left: 15px;
		    		}
		    	}
		    }
	}
}
.woocommerce-checkout{
	.woocommerce-info{
		padding-bottom: 20px;
	}
	.woocommerce-billing-fields{
		h3{
			font-weight: bold;
			padding-bottom: 10px;
		}
	}
	.form-row{
		width: 100%;
    	&#billing_email_field{

    	}
		label{
			padding-bottom: 5px;
			font-size: 14px;
		}
	}
	form[name="checkout"]{
		.col-1{
		    width: 52%;
		    margin: 0 auto;
		    background: #fff;
		    border-radius: 10px;
		    padding: 20px;
		    float: left;
		    margin-right: 2%;
		}
		.col-2{
			    width: 37%;
			    margin-right: 0;
			    float: left;
			    background: #fff;
		    border-radius: 10px;
		    padding: 20px;
		    .woocommerce-shipping-fields{
		    	h3{
		    		font-weight: bold;
		    		    padding-bottom: 10px;
		    	}
		    	label{
		    		font-size: 14px;
		    	}
		    	textarea{
		    		width: 100%;
		    		padding: 5px;
		    		border: 1px solid #e4e1d8;
		    		    display: block;
    				margin-top: 7px;
    				font-size: 14px;
    				min-height: 150px;
		    	}
		    }

		}
	}
	.col2-set{
		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}
	h3#order_review_heading{
		font-weight: bold;
		padding: 20px 0;
	}
	.woocommerce-checkout-review-order{
		background: #fff;
		padding: 20px;
		border-radius: 10px;
		width: 92%;
	}
	.woocommerce-checkout-review-order-table{
		
		tr{
			th{
				text-align: left;
				vertical-align: middle;
				    padding-bottom: 0;
			}
			td{
				font-size: 15px;
				.woocommerce-Price-amount amount, &.product-total{
					font-weight: 700;
				}
			}
		}
	}
	.woocommerce-checkout-payment{
		padding: 20px 0;
	}
	.wc_payment_methods.payment_methods{
		padding-bottom: 15px;

	}
	.cart-subtotal{
		.woocommerce-Price-amount {
			font-weight: 700;
		}

	}
	.order-total{
		.woocommerce-Price-amount {
			font-weight: 700;
			font-size: 18px;
		}
	}
}
input.input-text {
	width: 100%;
    padding: 5px 10px;
    border: 1px solid #e4e1d8;
    border-radius: 3px;
    background: white;
    color: #3f444c;
    font-size: 1rem;
    line-height: 24px;
    -webkit-transition: 0.15s ease-in-out opacity;
    transition: 0.15s ease-in-out opacity;
    -webkit-font-smoothing: antialiased;
}