
/* ! PRIMARY STYLES */
html, body{width:100%;}
a{text-decoration: none;}
.split {
    display: block;
    width: 100%;
    height: 40px;
    background: url(../images/hexagon.png) no-repeat center;
    position: relative;
    &:before, &:after {
	    display: block;
	    width: 46%;
	    height: 1px;
	    background: #d5d1c3;
	    position: absolute;
	    top: 50%;
	    content: "";
	}
	&:after{
		right: 0;
	}
}
.clear{clear:both;} 

.container{
	padding-left: 20px;
	padding-right: 20px;
}
p {
    margin: 0 0 20px 0;
}
.is-hidden {
    display: none !important;
}
.content-area{
	max-width: 70em;
	    margin-left: auto;
    margin-right: auto;
}
.entry-header{
	padding-top: 20px;
}
.section{
	.container{
		max-width: 71.375em;
		margin: 0 auto;
	}
}
.section__item{
	span{
	float: right;
	margin-top: 2px;
	font-weight: bold;
	}
}
#attached-job-files{
	&.opened{
		display: block!important; 
		    margin: 10px;
	}
}
.login-container{
	h2{
		font-size: 30px;
		padding-bottom: 15px;
	}
	&.session-container {
	    width: 43.25744%; 
	    margin: 80px auto;
	}
	.box{
		display: block;
	    width: 100%;
	    border: 1px solid #e0ddd2;
	    border-radius: 3px;
	    background: white;
	    box-shadow: 0 2px 5px rgba(19,21,24,0.05);
	    .l-inner {
		    padding: 20px;
		}
	}
	input[type="text"], input[type="password"] {
	    width: 100%;
	    padding: 5px 10px;
	    border: 1px solid #e4e1d8;
	    border-radius: 3px;
	    background: white;
	    color: #3f444c;
	    font-size: 1rem;
	    line-height: 24px;
	    -webkit-transition: 0.15s ease-in-out opacity;
	    transition: 0.15s ease-in-out opacity;
	    -webkit-font-smoothing: antialiased;
	}
	.form-row {
	    margin-bottom: 12px;
	    padding-bottom: 12px;
	    border-bottom: 1px solid #d5d1c3;
	    position: relative;
	    label {
	      display: block;
	      margin-bottom: 3px;
	  }
	}
	.field--important {
	    padding: 10px;
	}
	input[type="text"]:after {
	    clear: both;
	}
	input[type="text"]:before, input[type="text"]:after {
	    content: " ";
	    display: table;
	}
	input[type="text"] {
	    margin-bottom: 12px;
	    padding-bottom: 12px;
	    border-bottom: 1px solid #d5d1c3;
	    position: relative;
	}
	input[type="text"].is-last {
	    padding-bottom: 0;
	    border-bottom: 0;
	}
	input[type="submit"]{
		height: 50px;
	    padding: 0 15px;
	    font-size: 1rem;
	    line-height: 48px;
	}
	label[for="rememberme"]{
		float: right;
		    margin-top: 21px;
	}
	a.button {
	    color: white;
	}
	.button--facebook {
	    background: #43609b;
	}
	.button--compact {
	    height: 40px;
	    line-height: 40px;
	}
	.button--gplus {
	    background: #cb5d44;
	}
	.session-links {
	    margin: 20px 0 0 0;
	    padding: 0;
	    text-align: center;
	    &>li{
	      display: inline-block;
	    margin-right: 15px;
	    list-style: none;

	    }
	    a{
	      font-size: 15px;
	      text-decoration: underline;
	      font-weight: bold;
	    }
	}
}

.content-area{
	.page-title{
		    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 13px;
	}
	.term-description{
		padding-bottom: 10px;
		p{
			font-size: 16px;
		}
	}
	.box-tags{
		padding-top: 10px;
		padding-bottom: 15px;
		h4{
			padding-bottom: 15px;
		}
		a{
			 margin-right: 30px;
		}
	}
}

.aleft{
	float: left;
}
.aright{
	float: right;
}
.freeCk {
	margin-right: 15px;
	margin-left: 15px;
}
.filterSelect{
	&.sort-by{
		width: 200px!important;
		margin-right: 0;
	}
	
}
.filterType {
	    margin-top: 5px;
	.labeltype{
		margin-right: 12px;
	}
}
.hasborder{
	border-bottom: 1px solid #ccc;
}
.active-filters__item {
    display: inline-block;
    border-radius: 15px;
    background: #ce3c5c;
    color: white;
    font-size: 0.75rem;
    line-height: 12px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 5px 5px 10px;
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 0.875rem;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
    .active-filters__item-remove{
    	margin-left: 5px;
    }
}
.filterSelect, .woocommerce-ordering{
	margin-right: 25px;
	.selection, .select2-selection{
	}
	.select2 {
		
	}
	.select2-selection__arrow{
	    
	}
	select{
	}

}
.select2-container{
	input[type="search"]{
		border: 1px solid #ccc;
		padding: 3px;
	}
	.select2-results{
		ul{
			li{
				    padding-top: 8px;
				    &:hover{
				    	color: #27a885;
				    }
			}
		}
	}
	.select2-search{
		display: none;
	}
}
.freeCk{
	margin-top: 10px;
}
.categories-overview{
	min-height: 286px;
	background: url(../images/printable.jpg) no-repeat bottom center;
	background-size: cover;
	.content-area{
		position: relative;
		    z-index: 2;
	}
	&:after{
		    background: #2e343a;
	    opacity: 0.8;
	    content: "";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
}

.noUi-horizontal{
	height: 5px;
}
.noUi-handle:after {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 3px solid white;
    background: #67c4b0;
    position: absolute;
    top: -4px;
    left: -4px;
    content: "";
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}
.price-range{
	    margin-top: 10px;
	    margin-right: 15px;
	span{
		    float: left;
    margin-right: 13px
	}
	#rangePrice{
		display: inline-block;    
		margin-top: 6px!important;
	}
}
.cat-list-filter{
	float: left;
    width: 100%;
	li{
		margin-right: 25px;
		display: inline-block;
	}
}
.filter-block{

}
.woocommerce-ordering{
	float: left;
	    width: auto;
	margin-right: 0;
	        margin-top: 30px;
    width: 100%;
}
.content-box-wrapper{
	clear: both;
}
div.ui-tooltip {
    max-width: 400px;
}
.ui-tooltip-content{  
	ul{ 
		height: auto;
	}
	.product-name{
		padding-top: 12px;
    	font-size: 12px;
	}
	.extension{
		padding-top: 5px;
    	font-size: 12px;
	}
	.product-price{
		padding-left: 10px;
	    background: white;
	    color: #67c4b0;
	    font-size: 1rem;
	    line-height: 30px;
	    text-align: right;
	    position: absolute;
	    right: 11px;
	    bottom: 5px;
	}
} 

.product-container .product-content .product-header .product-header-title {
    display: block;
    margin: 0;
    font-size: 34px;
    padding-bottom: 10px;
}
.product-container .product-content .product-header .product-header-title span{
	    bottom: -5px;
}
.product-container .product-content .product-header{
	padding-bottom: 20px;
	    margin-bottom: 20px;
}
.product-container .product-sidebar .details-box .product-pricing .product-pricing-price {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.product-container .product-sidebar .details-box .product-pricing .product-pricing-actions button{
	&:before{
		content: "\f217";
		font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
    font: normal normal normal 21px/1 FontAwesome;
    top: -3px;
    margin-right: 5px;
	}
}
.product-container .product-sidebar .details-box .product-pricing .product-pricing-actions button, .product-container .product-sidebar .details-box .product-pricing .product-pricing-actions .button-buy-now{
	font-weight: 700;
}

.product-container .product-sidebar .details-box .product-pricing .product-pricing-actions a.buy-now{
	background-color: #ce3c5c;
    padding: 6px 10px 8px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
	&:before{
		content: "\f290";
		font: normal normal normal 18px/1 FontAwesome;
    margin-right: 5px;
        top: -2px;

	}
}
.slick-slide img{
	width: 100%;
}
.primary-navigation > ul.nav > li:hover > ul{
	top: 2.1em;
}

.noUi-horizontal .noUi-tooltip{
	opacity: 0;
	transition: all .5s;
	
}
.noUi-horizontal .noUi-handle{
	&:hover{
		.noUi-tooltip{
			opacity: 1;
		}
		
	}

}

.woocommerce-page{
	.woocommerce-message, .woocommerce-error{
		margin: 20px 0;
	}
}
.woocommerce-cart, .woocommerce-checkout{
	.entry-title{
		font-size: 30px;
		padding-bottom: 20px;
	}
	.cart-form{
		background: #f5f4f0;
		    padding: 40px 20px 20px 20px;
		    border-radius: 10px;
	}
	.shop_table{
		    width: 100%;
		    
		tr{
			border-bottom: 1px solid #ccc;
			&:last-child{
				border-bottom: none;
			}
			th{
				font-weight: bold;
				padding-bottom: 10px;
			}
			td{
				vertical-align: middle;
				padding: 15px 0;
				&.product-thumbnail{
					width: 80px;
					img{
						padding-right: 20px;
					}
				}
				&.product-name{
					a{
						text-decoration: underline;
					}
				}
			}
		}
		.coupon{
			label{
				font-weight: bold;
			}
			input[type="text"]{
				border: 1px solid #ccc;
				padding: 5px;
				width: 20%;
			}
		}
	}
	input[name="update_cart"]{
		float: right;
	}

	.cart-collaterals{
		    margin: 30px 0;
		    background: #f5f4f0;
		    padding: 40px 20px 20px 20px;
		    border-radius: 10px;
		    width: 40%;
		    float: right;
		    .cart_totals {
		    	h2{
		    		font-size: 30px;
		    		font-weight: bold;
		    	}
		    }
		    .shop_table {
		    	tr{
		    		th{
		    			font-weight: bold;
		    			vertical-align: middle;
		    			text-align: left;
		    		}
		    		td{
		    			font-weight: bold;
		    			font-size: 24px;
		    		}
		    	}
		    }
		    .wc-proceed-to-checkout{
		    	margin-top: 20px;
		    	a{
		    		padding: 10px 20px;
		    		    height: auto;
		    		        font-size: 18px;
		    		&:after{
		    			font: normal normal normal 18px/1 FontAwesome;
		    			content: "\f054";
		    			color: #fff;
		    			margin-left: 15px;
		    		}
		    	}
		    }
	}
}
.woocommerce-checkout{
	.select2-container{
		
		border: 1px solid #e4e1d8;
		.select2-choice{
			border: none;
			background: transparent;
		}
	}
	.woocommerce-info{
		padding-bottom: 20px;
	}
	.woocommerce-billing-fields{
		h3{
			font-weight: bold;
			padding-bottom: 10px;
		}
	}
	.form-row{
		width: 100%;
    	&#billing_email_field{

    	}
		label{
			padding-bottom: 5px;
			font-size: 14px;
			display: block;
			&[for="createaccount"]{
				display: inline-block;
			}
		}
	}
	form[name="checkout"]{
		.col-1{
		    width: 52%;
		    margin: 0 auto;
		    background: #fff;
		    border-radius: 10px;
		    padding: 20px;
		    float: left;
		    margin-right: 2%;
		}
		.col-2{
			    width: 37%;
			    margin-right: 0;
			    float: left;
			    background: #fff;
		    border-radius: 10px;
		    padding: 20px;
		    .woocommerce-shipping-fields{
		    	h3{
		    		font-weight: bold;
		    		    padding-bottom: 10px;
		    	}
		    	label{
		    		font-size: 14px;
		    	}
		    	textarea{
		    		width: 100%;
		    		padding: 5px;
		    		border: 1px solid #e4e1d8;
		    		    display: block;
    				margin-top: 7px;
    				font-size: 14px;
    				min-height: 150px;
		    	}
		    }

		}
	}
	.col2-set{
		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}
	h3#order_review_heading{
		font-weight: bold;
		padding: 20px 0;
		    font-weight: bold;
    padding: 20px 0;
    font-size: 30px;
	}
	.woocommerce-checkout-review-order{
		background: #fff;
		padding: 20px;
		border-radius: 10px;
		width: 92%;
		margin-bottom: 40px;
	}
	.woocommerce-checkout-review-order-table{
		
		tr{
			th{
				text-align: left;
				vertical-align: middle;
				    padding-bottom: 0;
			}
			td{
				font-size: 15px;
				.woocommerce-Price-amount amount, &.product-total{
					font-weight: 700;
				}
			}
		}
	}
	.woocommerce-checkout-payment{
		padding: 20px 0;
	}
	.wc_payment_methods.payment_methods{
		padding-bottom: 45px;
		li{
			padding-bottom: 25px;
		}
	}
	.cart-subtotal{
		.woocommerce-Price-amount {
			font-weight: 700;
		}

	}
	.order-total{
		.woocommerce-Price-amount {
			font-weight: 700;
			font-size: 18px;
		}
	}
	.create-account{
		.form-row{
			
			.woocommerce-password-strength{
				padding: 15px 0;
			}
		}
	}
}
input.input-text {
	width: 100%;
    padding: 5px 10px;
    border: 1px solid #e4e1d8;
    border-radius: 3px;
    background: white;
    color: #3f444c;
    font-size: 1rem;
    line-height: 24px;
    -webkit-transition: 0.15s ease-in-out opacity;
    transition: 0.15s ease-in-out opacity;
    -webkit-font-smoothing: antialiased;
}
.indicator.is-sticky{
	right: 9px;
}
.product-container .product-sidebar{
	padding-top: 95px;
}

.woocommerce-checkout-payment{
	ul{
		width: 75%;
		li{
			&.payment_method_paypal{
				label{
					img{
						    width: 152px;
						    position: relative;
						    top: 19px;
						    margin: 0 8px;
					}
				}
			}
		}
	}
}
.payment_box {
	padding-top: 15px;
}
.place-order{
	input[type="submit"]{
		padding: 7px 20px;
		height: auto;
	}
}
.select2-container .select2-choice{
	height: 35px;
	line-height: 35px;
}
.site-page--product-publisher .inline-label {
    display: inline-block;
    margin-right: 10px;
}
.select2-dropdown-open .select2-choice{
}
section.content-section .tutorials .tutorial .tutorial-content .tutorials-title{
	line-height: 46px;
}
.challenge-header{
	img{
		width: 100%;
	}
}
.challenge-content {
    display: block;
    background: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1142px;
}
.challenge-content__title {
    font-size: 2.5rem;
    margin: 20px 0 30px;
    line-height: 44px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
.challenge-content__description {
    font-size: 1.25rem;
    clear: both;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    p{
	    font-size: 1.25rem;
	    clear: both;
	    line-height: 30px;
    }
}
.challenge-content__subtitle {
    font-size: 1.625rem;
    margin-bottom: 20px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}
.challenge-info {
    padding: 15px;
    margin-bottom: 10px;
    background: #fbfaf9;
}
.challenge-info__action {
    float: left;
}
.button--material {
    min-width: 88px;
    height: 36px;
    padding: 0 16px;
    margin: 6px 4px;
    line-height: 36px;
    font-size: 0.875rem;
    text-transform: uppercase;
    box-shadow: 0 1px 4px rgba(0,0,0,0.24);
}
.challenge-info__countdown {
    padding-top: 4px;
    float: left; 
}
.countdown__block {
    display: inline-block;
    width: 45px;
    padding: 8px;
    border-right: 1px solid #eae8e1;
    text-align: center;
    font-weight: bold;
}
.challenge-info__deadline {
    margin-left: 10px;
    float: left;
    line-height: 46px;
    b{
    	font-weight: bold;
    }
}
.challenge__share {
    margin-top: 30px;
    margin-bottom: 25px;
}
.challenge__share span {
    font-size: 1.125rem;
    font-weight: 800;
    margin-right: 10px;
}
.challenge__share .list.list-inline {
    display: inline-block;
    li{
    	padding-right: 0px;
    }
}

.comment-reply-title{
	font-weight: bold;
}
.comment-form-comment{
	label{
		display: block;
	}
	textarea{
		width: 60%;
		    		padding: 5px;
		    		border: 1px solid #e4e1d8;
		    		    display: block;
    				margin-top: 7px;
    				font-size: 14px;
    				min-height: 150px;
	}
}
.form-submit{
	input[type="submit"]{
		min-width: 88px;
	    height: 36px;
	    padding: 0 16px;
	    margin: 6px 4px;
	    line-height: 36px;
	    font-size: 0.875rem;
	    background: #27a885;
	    text-transform: uppercase;
	    box-shadow: 0 1px 4px rgba(0,0,0,0.24);
	    color: #fff;
	}
}
.yourcomment{
	h3{
		font-weight: bold;
		font-size: 18px;
		padding-bottom: 15px;
	}
}
.comments-area{
	.comments-title{
		font-size: 20px;
	}
	.comment-list{
		li{
			padding: 20px 0;
			.comment-author.vcard{
				img{
					float: left;
				margin-right: 10px;
				}
			}
			.comment-content{
				font-size: 16px;
			}
		}
	}
	.children{
		padding-left: 30px;
	}
	article.comment-body{
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
	}
}

.single-product{
	form.product-pricing-actions{
		.quantity{
			input.qty{
				display: none;
			}
		}
	}
}
.details-box {
    padding: 0 10px 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.list-files{
	h3{
		display: block;
    width: 100%;
    margin: 0 10px 15px 0px;
    padding-top: 0px;
    color: #ce3c5c;
    font-size: 1rem;
    line-height: 24px;
	}
	ul{
		li{
			span{
				float: right;
			}
		}
	}
}
.woocommerce-Reviews.comments{
	article.comment{
		.comment-author{
			margin-right: 10px;

		}
		strong{
			font-weight: bold;
		}
	}
}
.product-container .product-main .product-tabs .tabs-container .tab-pane .details-box .comments .comment .comment-author{
	margin-top: 0;
}
.content-heading{
	h2.content-heading__title{
		font-weight: bold;
	}
}
.post-type-archive{
	.content-heading{
		h2.content-heading__title{
			font-weight: normal;
			font-size: 34px;
		}
	}	
}
.heading {
    display: block;
    margin: 0 0 20px 0;
    padding-left: 25px;
    background: url(../images/hexagon_small.png) no-repeat 0 3px;
    font-size: 1.5rem;
    line-height: 24px;
    color: #131518;
    font-weight: 300;
}
.challenges-list{
	margin-bottom: 35px;
	.challenge__image{
		img{
			width: 100%;
		}
	}
	.challenge {
    
	    display: block;
	    border-radius: 3px;
	    background: white;
	    position: relative;
	}
	.challenge .challenge__inner {
	    padding: 20px 20px;
	}
	.challenge__title {
	    font-size: 1.6875rem;
	    margin: 0 0 15px 0;
	    line-height: 30px;
	    color: #131518;
	    font-weight: 300;
	    display: inline-block;
	}
	.challenge__title a {
	    color: #131518;
	    display: block;
	    width: 100%;
	    text-decoration: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.challenge__title a {
	    top: 360px;
	    left: 20px;
	}
	.challenge__title a>span {
	    display: block;
	    width: 100%;
	    top: 185px;
	    left: 20px;
	}
	.challenge__title a span {
	    position: static;
	}
	.challenge__description {
	    font-size: 1rem;
	    height: auto;
	    margin-top: 25px;
	    margin-bottom: 35px;
	    line-height: 26px;
	    color: #6d6d6d;
	    overflow: hidden;
	}
	.challenge__info {
	    margin-bottom: 20px;
	    position: relative;
	}
	.challenge__deadline {
	    display: block;
	    width: 100%;
	    position: relative;
	}
	.challenge__deadline span {
	    display: inline-block;
	    padding-right: 10px;
	    background: white;
	    position: relative;
	    z-index: 1;
	    b{
	    	font-weight: bold;
	    }
	}
	.challenge__deadline:after {
	    height: 2px;
	    display: block;
	    width: 100%;
	    background: #eae8e1;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    content: " ";
	}
	.challenge__action {
	    display: block;
	    padding-left: 10px;
	    background: white;
	    position: absolute;
	    top: -25%;
	    right: 0;
	}
}
section.content-section .challenges-list .challenge .challenge-content .challenge-inner {
	.challenge-info{
		background: transparent;
		    padding-left: 0;
		    .challenge-action{
		    	top: 7px;
		    }
	}

}
section.content-section .challenges-list .challenge .challenge-content .challenge-inner .challenge-title{
	min-height: 83px;
}

.term-3d-models, .parent-cat-3d-models{
	#breadcrumb{
		display: none;
	}
	.product-model{
		position: relative;
		.bg{
			background: url(../images/cg.jpg) no-repeat;
		    position: absolute;
		    left: -50%;
		    height: 100%;
		    width: 200%;
		    background-size: cover;
		    &:after{
		    	    background: #2e343a;
			    opacity: 0.6;
			    position: absolute;
			    content: "";
			    width: 100%;
			    height: 100%;
		    }
		}
		.model-header{
			position: relative;
			padding: 25px 0;
			color: #fff;
			.page-title{
				font-size: 40px;
			}
			.term-description{
				font-size: 18px;
			}
			
		}
		.box-tags{
			h4{
				font-size: 26px;
				padding-bottom: 0;
			}
			a{
				color: #8cd2c3;
				font-size: 16px;
			}
		}
	}
}

.parent-cat-3d-models{
	#primary{
		margin-top: 60px;
	}
	#breadcrumb{
		display: block;
	}
	.product-model {
		.bg{

		}
	}
	.filter-block{
		margin-top: 10px;
	}
	.model-header{
		.list-cat{
			padding-bottom: 25px;
		}
	}
}
.filter-show-list{
	padding-top: 20px;
}
.select2-container{
	width: 200px;
}
.breadcrumb-wrapper{
	.container{
		padding-left: 0;
	}
}

.woocommerce-error{
	li{
		color: red;
	}
}

.woocommerce-order-received{
	.entry-content{
		background: #fff;
		padding: 20px;
		.woocommerce-thankyou-order-received{
			font-size: 30px;
		}
		.woocommerce-thankyou-order-details{
			li{
				font-size: 16px;
			}
		}
		h2{
			font-size: 20px;
			font-weight: bold;
			padding-bottom: 20px;
		}
		table.order_details{
			tr{
				border-bottom: 1px solid #ccc;

				th{
					text-align: left;
					vertical-align: middle;
				}
				td{
					span.woocommerce-Price-amount{
						font-weight: bold;
						font-size: 20px;
					}
					&.product-total{
						font-weight: bold;
						span{
							font-size: 16px;
						}
					}
					
				}
			}
		}
		table.customer_details{
			tr{
				th{
					text-align: left;
					vertical-align: middle;
				}
			}
		}
	}
}

.woocommerce-account{
	.entry-header{
		h1.entry-title{
			display: none;
		}
	}
}
.product-preview{
	position: relative;
}
.product-preview .overlay-button {
    position: absolute;
    z-index: 103;
    top: 10px;
    right: 10px;
    padding: 13px 6px 13px 13px;
}

.overlay-button {
    display: inline-block;
    padding: 10px 13px;
    background: rgba(0,0,0,0.6);
    font-size: 0.875rem;
    color: white;
    text-transform: uppercase;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: 0.15s ease-in-out background;
    transition: 0.15s ease-in-out background;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
}
.fa-arrows-alt:before {
    content: "\f0b2";
}
.related.products{
	h2{
	    font-size: 1.5rem;
   		line-height: 30px;
	}
}

.files p, .files div.MultiFile-label {
    width: 100%;
    color: #6d6d6d;
    padding: 10px;
    background: white;
    border: 1px solid #dfdcd2;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.files{
	.MultiFile-remove{
		float: right;
		font-weight: bold;
		font-size: 17px;
		cursor: pointer;
	}
	.remove-string{
	display: none;
	}
}
.u-float-left{
	float: left;
}
.u-float-right{
	float: right;
}
.jobs-page{
	ul.error{
		padding: 20px;
		li{
			font-size: 14px;
			color: red;
		}
	}
}
label.error{
	color: red;
	font-size: 12px;
	padding-top: 5px;
}