$fontArial12: normal 11px/1.2 "Source Sans Pro", Helvetica, sans-serif;

@mixin SansPro( $value ) {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size:$value;
	line-height:1.1;
	font-weight:normal;
}

/*COLOR*/
$colorBlack:#000;

/*CHECKBOX*/
.icheckbox {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 3px 0 0;
    padding: 0;
    border: none;
    background: url(../images/checkbox_radio_sprite.png) no-repeat;
    cursor: pointer;
    position: relative;
    top: -1px;
    &.checked {
	    background-position: -22px 0;
	}


}