$fontArial12: normal 11px/1.2 "Source Sans Pro", Helvetica, sans-serif;

@mixin SansPro( $value ) {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size:$value;
	line-height:1.1;
	font-weight:normal;
}

/*COLOR*/
$colorBlack:#000;
