$fontArial12: normal 11px/1.2 "Source Sans Pro", Helvetica, sans-serif;

@mixin SansPro( $value ) {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size:$value;
	line-height:1.1;
	font-weight:normal;
}

/*COLOR*/
$colorBlack:#000;

/*CHECKBOX*/
.icheckbox {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 3px 0 0;
    padding: 0;
    border: none;
    background: url(../images/checkbox_radio_sprite.png) no-repeat;
    cursor: pointer;
    position: relative;
    top: -1px;
    &.checked {
	    background-position: -22px 0;
	}


}

.iradio {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 20px;
    margin: 0 3px 0 0;
    padding: 0;
    border: none;
    background: url(../images/checkbox_radio_sprite.png) no-repeat -131px 0;
    cursor: pointer;
    position: relative;
    top: -1px;
    &.checked {
        background-position: -109px 0;
    }


}
.radio{
    display: inline-block;
}

.pagination {
    margin: 20px 0;
    padding: 0;
    color: #6d6d6d;
    text-align: center;
    li{

    }
}
.pagination>li.is-current, .pagination>li.is-active, .pagination .pagination__item.is-current, .pagination .pagination__item.is-active {
    padding: 3px 6px;
    color: #131518;
    font-weight: 700;

}
.pagination>li, .pagination .pagination__item {
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
}
.pagination>li a, .pagination .pagination__item a {
    display: block;
    padding: 3px 6px;
    text-decoration: none;
    color: #67c4b0;
    -webkit-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}